# dependencies
node_modules/

# environment
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build
dist/
build/

# database
*.db
*.sqlite

# misc
.DS_Store
.idea/
.vscode/

#prisma
/src/generated/prisma
